<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dan's science experiment thing.">

    <title>Dan's science experiment thing!</title>

    
    <!-- import the webpage's client-side javascript file -->
    <script src="https://unpkg.com/mithril@2.0.4/mithril.min.js"></script>
    <script src="https://unpkg.com/mithril-stream@2.0.0/stream.js"></script>
    <script src="https://unpkg.com/bss@1.6.4/bss.min.js"></script>
    <script src="/client.js" defer></script>
  </head>
  <body></body>
</html>
